* {
    font-family: 'Gowun Batang';
}
.LI_top, .LI_bottom {
    display: flex;
    text-align: center;
}
.box {
    width: 230px;
    height: 230px;
    box-sizing: border-box;
    margin-top: 3%;
}
.bb1, .bb2, .bb3, .bb4 {
    border-radius: 5%;
    width: 200px;
    height: 200px;
    background-color: rgb(171, 171, 171);
}
.box > span {
    display: block; /* block 해줘야 넘치는 걸 알 수 있음!! inline이면 무조건 늘어나기 때문 */
    overflow: hidden; /* 넘치면 글자 숨김*/
    text-overflow: ellipsis; /* ... 해주는 친구 */
    white-space: nowrap; /* 아래줄로 안넘어가게 고정 */
    width: 150px;
    margin-left: 12%;
}
.b1, .b2, .b3 {
    margin-right: 4%;
}
.b1 {
    margin-left: 4%;
}