* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif; /* 이런 기본요소 나중에 통일 방안 정해지면 바꾸기 */
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* 전체 화면 기준 가운데 정렬 */
}

header {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 1em 0; /* 요소의 사면 안쪽 여백 설정 */
  position: relative;
  width: 100%; /* 헤더를 화면 폭에 맞춤 */
  height: 70px; /* 높이 픽셀 지정 */
}

header::before {
  content: ""; /* 생성 후 안 보이게 해서 균형 잡는 용도로 사용했었음. 나중에 없애야 할 듯 */
  position: absolute; /* absolute - 부모 기준으로 위치 지정 */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to right,
    transparent 50%,
    #333 50%
  ); /* 투명한 영역 및 배경 설정 */
  z-index: -1; /* 만든 거 뒤로 보냄 */
}

header div {
  display: flex; /*레이아웃 방식. grid같은거 */
  flex-direction: column; /* 요소가 위치하는 방법. 위에서 아래로~ */
  align-items: center; /* 제목을 가운데 정렬 */
  position: relative;
}
header .MP_user-info {
  position: absolute; /* absolute - 부모 기준으로 위치 지정 */
  top: 10px;
  right: 60px;
  display: flex; /* 아이콘과 아이디를 가로로 나란히 정렬 */
  align-items: center;
}

header .MP_user-info img {
  width: 50px; /* 아이콘 크기설정 */
  height: 50px;
  border-radius: 50%; /* 원 모양으로 만들기. =100%? */
  margin-right: 10px; /* 아이콘과 아이디 사이의 간격 조절 */
  margin-bottom: -5px; /* 위치설정 */
}

header .MP_user-info span {
  display: flex;
  align-items: center;
}

header .MP_Title {
  position: absolute;
  top: -7px; /* 위치설정 */
  left: 40px;
  display: flex; /* 아이콘, 아이디 나란히 정렬 */
  align-items: center;
}

header .MP_Title img {
  width: 60px; /* 타이틀 아이콘 크기설정 */
  height: 60px;
  border-radius: 50%;
  margin-right: 190px; /* 아이콘 - 아이디 사이 간격 조절 */
  margin-bottom: -55px;
}

header .MP_user-info span {
  display: flex;
  align-items: center;
}

header .login {
  /* index 로그인 css */
  position: absolute; /* absolute - 부모 기준으로 위치 지정 */
  top: 22px;
  right: 30px;
  display: flex; /* 아이콘과 아이디를 가로로 나란히 정렬 */
  align-items: center;
}

header .login a {
  color: black;
  margin-right: 20px;
}

nav {
  background-color: #fff;
  padding: 15px; /* 여백 설정 */
  display: flex;
  width: 97%; /* 네비게이션을 화면 폭에 맞출 비율. 끝에 여백 있게 하는 거 같아서 일단 97 */
  box-sizing: border-box; /* 박스 크기를 어떤 것을 기준으로 계산하는가? >>padding과 border를 포함하여 넓이 계산 */
  justify-content: center; /* 네비게이션 중앙 정렬 */
  border-top: 1px solid #828282; /* 위쪽에 선 추가 */
  border-bottom: 1px solid #828282;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 90px; /* 각 요소 사이 공간?이었던거같은데 */
}

nav li:last-child {
  margin-right: 0;
}

.MP_container {
  display: flex;
  width: 100%; /* 컨테이너를 화면 폭에 맞춤 */
  box-sizing: border-box; /* padding과 border를 포함하여 넓이 계산 */
}

aside {
  width: 20%;
  background-color: #fff;
  padding: 15px;
  height: 100vh;
  box-sizing: border-box; /* padding과 border를 포함하여 넓이 계산 */
}

aside > input {
  /* 검색 창 css */
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f7f7f7;
  border: none;
}

aside > input::placeholder {
  color: #c8c8c8;
}

section {
  background-color: rgb(250, 250, 250);
  flex: 0.95; /* 나머지 영역을 섹션이 얼마나 차지하는지 설정 */
  padding: 30px;
  box-sizing: border-box; /* padding과 border를 포함하여 넓이 계산 */

  border-radius: 20px;
}
section .post-btn {
  float: right;
}

section h3 {
  color: #3d3d3d;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: #fff;
  width: 100%; /* 푸터를 화면 폭에 맞춤 */
}

.login-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
}

.login-wrapper > h2 {
  font-size: 24px;
  color: #585858;
  margin-bottom: 20px;
}
#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ececec;
  border: none;
}
#login-form > input::placeholder {
  color: #c8c8c8;
}
#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #cdcdcd;
  margin-top: 20px;
}
#login-form > a {
  text-decoration: none;
  color: #575757;
}
.CA-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
}
.CA-wrapper > h2 {
  font-size: 24px;
  color: #585858;
  margin-bottom: 20px;
}
#CA-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ececec;
  border: none;
}
#CA-form > input::placeholder {
  color: #c8c8c8;
}
#CA-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #cdcdcd;
  margin-top: 20px;
}
.findID-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
}
.findID-wrapper > h2 {
  font-size: 24px;
  color: #585858;
  margin-bottom: 20px;
}
#findID-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ececec;
  border: none;
}
#findID-form > input::placeholder {
  color: #c8c8c8;
}
#findID-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #cdcdcd;
  margin-top: 20px;
}
.findPW-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
}
.findPW-wrapper > h2 {
  font-size: 24px;
  color: #585858;
  margin-bottom: 20px;
}
#findPW-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ececec;
  border: none;
}
#findPW-form > input::placeholder {
  color: #c8c8c8;
}
#findPW-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #999898;
  margin-top: 20px;
}
#MP_item {
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
h1 a {
  text-decoration: none;
}
#MP_item:hover {
  background: rgb(214, 214, 214);
}
#article {
  width: 80%;
}
#side_menu {
  margin-left: 10%;
}
#side_box {
  height: 40%;
}
#profile {
  display: none;
}
#logout {
  display: none;
}
#mainUp{
  height: 45%;
  background-image: url("maincoding.png");
  background-size: cover;
}
#aside{
  background-image: url("sideimg.png");
  background-size: cover;
  margin-bottom: 100px;
}

#MP_post {
  text-decoration: none;
  color: #383838;
}

.mypost_time {
  text-align: right;
  width:120px;
  color:#b1b1b1;
  margin-left: 1%;
}
section table {
  width:100%;
  border: none;
}
.mypost_user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width: 100px;
  color:#889ee8;
}

section span{
  display: block;
  float: right;
}