* {
  margin: 0;
  padding: 0;
  font-family: "Gowun Batang";
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 게시물 작성 css */
.pt {
  margin-right: 20%;
  display: grid;
  place-items: center;
}

.pt h1 {
  margin-left: 25%;
  font-size: 40px;
}

.pt-write {
  padding: 50px;
  padding-bottom: 0px;
}
.pt-title {
  font-size: 55px;
}

.pt-write input,
textarea {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #e6e6e6;
}

.pt-write .pt-title input[type="text"] {
  margin-bottom: 20px;
  width: 150%;
  border: none;
}

.pt-write .pt-text textarea {
  width: 150%;
  height: 500px;
  font: inherit;
  font-weight: bold;
  border: none;
  resize: none;
  box-shadow: inset 3px 3px 10px #e6e6e6;
  vertical-align: top;
}

.pt-write input[type="file"] {
  border: none;
  box-shadow: none;
  padding: 10px;
}

.pt-btn {
  /* position: absolute;
    right: 0;
    bottom: 0; */
  padding-left: 90%;
}

.pt-btn- {
  background-color: rgb(168, 216, 239);
  padding: 10px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}
/* 게시물 확인 css */
.pt-container {
  margin-top: 10%;
  text-align: center;
}
.pt-btn-con {
  padding-top: 1em;
  margin-top: 1em;
  border-top: solid 1px #ccc;
  width: 100%;
  text-align: center;
}
.bd-ct-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.bd-pt-btn {
  float: right;
  font-size: 17px;
  font-weight: bold;
  line-height: 39px;
  padding: 0;
}
.bd-pt-btn:hover {
  background: transparent;
  background-color: rgb(168, 216, 239);
  color: #000;
}
.bd-pt-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.bd-pt-btn:before,
.bd-pt-btn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.bd-pt-btn:before {
  height: 0%;
  width: 2px;
}
.bd-pt-btn:after {
  width: 0%;
  height: 2px;
}
.bd-pt-btn:hover:before {
  height: 100%;
}
.bd-pt-btn:hover:after {
  width: 100%;
}
.bd-pt-btn span:before,
.bd-pt-btn span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.bd-pt-btn span:before {
  width: 2px;
  height: 0%;
}
.bd-pt-btn span:after {
  width: 0%;
  height: 2px;
}
.bd-pt-btn span:hover:before {
  height: 100%;
}
.bd-pt-btn span:hover:after {
  width: 100%;
}
#post-userid {
  font-size: 100px;
}
#post-title {
  font-size: 155px;
}
